﻿body {
    padding-top: 40px;
    padding-bottom: 10px;

}
.body-content {

    padding-left: 15px;
    padding-right: 15px;


}

h1, h2,h3{
    color:#bd0bfa;
}

a:hover {
    color:#f70bfa;
}

#Calendar1 {

    border:2px solid;
    color:#ea4e4e;
}

